In [2]:
import pandas as pd
import os

In [3]:
current_path = os.getcwd()
print(current_path)

c:\Users\sepujas\Dev\mat\notebooks

In [4]:
base_path = os.path.abspath(os.path.join(current_path, os.pardir))
print(base_path)

c:\Users\sepujas\Dev\mat

In [5]:
stock_file_path = os.path.join(base_path, 'data', 'raw', 'tbl_stock_mb52.txt')
print(stock_file_path)

c:\Users\sepujas\Dev\mat\data\raw\tbl_stock_mb52.txt

In [6]:
stock_preprocessed_path = os.path.join(base_path, 'data', 'preprocessed', 'tbl_stock.csv')
print(stock_preprocessed_path)

c:\Users\sepujas\Dev\mat\data\preprocessed\tbl_stock.csv

In [18]:
df_stock = pd.read_csv(stock_file_path, sep='\t', skiprows=1, encoding='latin1')
df_stock.tail()

,Unnamed: 0,Material,Material Description,Loca,SL,Plnt,BUn,Unrestricted,Transit/Transf.,Blocked,In Qual. Insp.,Restricted-Use,Returns,Stk in Transit
32608,NaN,3954882,Cordl. dispenser HDE 500-A12,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32609,NaN,3954933,Water supply unit DWP 15-22,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32610,NaN,3954935,Powder-actuated tool DX 5 SM,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32611,NaN,3954937,Cordl. impact driver SID 4-22 case,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32612,NaN,3954940,Cordl. circular saw SC 5ML-22 box,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0

In [8]:
unnamed_columns = [col for col in df_stock.columns if 'Unnamed:' in col]

print("Columns with 'Unnamed:' in their title:")
for col in unnamed_columns:
    print(col)

Columns with 'Unnamed:' in their title:
Unnamed: 0

In [9]:
df_stock.drop(columns=unnamed_columns, inplace=True)

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
df_stock.tail()

,Material,Material Description,Loca,SL,Plnt,BUn,Unrestricted,Transit/Transf.,Blocked,In Qual. Insp.,Restricted-Use,Returns,Stk in Transit
32608,3954882,Cordl. dispenser HDE 500-A12,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32609,3954933,Water supply unit DWP 15-22,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32610,3954935,Powder-actuated tool DX 5 SM,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32611,3954937,Cordl. impact driver SID 4-22 case,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0
32612,3954940,Cordl. circular saw SC 5ML-22 box,1.0,NaN,3000,PC,1,0.0,0.0,0.0,0,0,0.0

In [12]:
column_titles = df_stock.columns.tolist()
column_titles

['Material',
 'Material Description',
 'Loca',
 'SL',
 'Plnt',
 'BUn',
 '   Unrestricted',
 'Transit/Transf.',
 '        Blocked',
 ' In Qual. Insp.',
 ' Restricted-Use',
 '        Returns',
 ' Stk in Transit']

In [13]:
new_column_titles = {col: col.strip().replace(' ', '_').replace('/','_').replace('-','_').replace('.','') for col in column_titles}

In [14]:
df_stock.rename(columns=new_column_titles, inplace=True)

In [15]:
df_stock.columns.tolist()

['Material',
 'Material_Description',
 'Loca',
 'SL',
 'Plnt',
 'BUn',
 'Unrestricted',
 'Transit_Transf',
 'Blocked',
 'In_Qual_Insp',
 'Restricted_Use',
 'Returns',
 'Stk_in_Transit']

In [16]:
df_stock.dtypes

Material                  int64
Material_Description     object
Loca                    float64
SL                       object
Plnt                      int64
BUn                      object
Unrestricted             object
Transit_Transf          float64
Blocked                 float64
In_Qual_Insp            float64
Restricted_Use            int64
Returns                   int64
Stk_in_Transit          float64
dtype: object

In [17]:
df_stock['Material'] = df_stock['Material'].fillna(0).astype(int).astype(str).str.strip()
df_stock['Material_Description'] = df_stock['Material_Description'].astype(str).str.strip()
df_stock['SLoc'] = df_stock['SLoc'].fillna(0).astype(int).astype(str).str.strip()
df_stock['SL'] = df_stock['SL'].astype(str).str.strip()
df_stock['Plnt'] = df_stock['Plnt'].fillna(0).astype(int).astype(str).str.strip()
df_stock['BUn'] = df_stock['BUn'].astype(str).str.strip()
df_stock['Unrestricted'] = df_stock['Unrestricted'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_stock['Transit_Transf'] = df_stock['Transit_Transf'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_stock['Blocked'] = df_stock['Blocked'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_stock['In_Qual_Insp'] = df_stock['In_Qual_Insp'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_stock['Restricted_Use'] = df_stock['Restricted_Use'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_stock['Returns'] = df_stock['Returns'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_stock['Stk_in_Transit'] = df_stock['Stk_in_Transit'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)

KeyError: 'SLoc'

In [ ]:
df_stock['Unrestricted'] = pd.to_numeric(df_stock['Unrestricted'], errors='coerce')

In [ ]:
sorg_plant_dict = {
    8750: [8750, 8760],
    8300: [8330, 8302],
    8650: [8650, 8663, 8655, 8658, 8662, 8651],
    3000: [3000, 3002, 3010, 3014, 3016, 3018, 3022]
}

In [ ]:
plant_to_sorg = {
    "8750": "8750", "8760": "8750",
    "8330": "8300", "8302": "8300",
    "8650": "8650", "8663": "8650", "8655": "8650", "8658": "8650", "8662": "8650", "8651": "8650",
    "3000": "3000", "3002": "3000", "3010": "3000", "3014": "3000", "3016": "3000", "3018": "3000", "3022": "3000"
}

In [ ]:
plant_to_sorg

{'8750': '8750',
 '8760': '8750',
 '8330': '8300',
 '8302': '8300',
 '8650': '8650',
 '8663': '8650',
 '8655': '8650',
 '8658': '8650',
 '8662': '8650',
 '8651': '8650',
 '3000': '3000',
 '3002': '3000',
 '3010': '3000',
 '3014': '3000',
 '3016': '3000',
 '3018': '3000',
 '3022': '3000'}

In [ ]:
def map_plant_to_sorg(plant):
    return plant_to_sorg.get(plant, None)

In [ ]:
map_plant_to_sorg('3016')

'3000'

In [ ]:
df_stock['Sorg'] = df_stock['Plnt'].map(map_plant_to_sorg)

In [ ]:
df_stock['key_material'] = df_stock['Sorg'] + '/' + df_stock['Material']
df_stock['key_material'] = df_stock['key_material'].astype(str).str.strip()

In [ ]:
stock_preprocessed_path

'c:\\Users\\sepujas\\Dev\\mat\\data\\preprocessed\\tbl_stock.csv'

In [ ]:
df_stock.to_csv(stock_preprocessed_path, index=False)

In [ ]:
df_stock.dtypes

Material                 object
Material_Description     object
SLoc                     object
SL                       object
Plnt                     object
BUn                      object
Unrestricted            float64
Transit_Transf          float64
Blocked                 float64
In_Qual_Insp            float64
Restricted_Use          float64
Returns                 float64
Stk_in_Transit          float64
Sorg                     object
key_material             object
dtype: object