In [1]:
import pandas as pd
import os

In [2]:
current_path = os.getcwd()
print(current_path)

c:\Users\sepujas\Dev\mat\notebooks

In [3]:
base_path = os.path.abspath(os.path.join(current_path, os.pardir))
print(base_path)

c:\Users\sepujas\Dev\mat

In [4]:
bo2cs_file_path = os.path.join(base_path, 'data', 'raw', 'tbl_bo2cs.txt')
print(bo2cs_file_path)

c:\Users\sepujas\Dev\mat\data\raw\tbl_bo2cs.txt

In [5]:
bo2cs_preprocessed_path = os.path.join(base_path, 'data', 'preprocessed', 'tbl_bo2cs.csv')
print(bo2cs_preprocessed_path)

c:\Users\sepujas\Dev\mat\data\preprocessed\tbl_bo2cs.csv

In [6]:
df_bo2cs = pd.read_csv(bo2cs_file_path, sep='\t', skiprows=3, encoding='latin1')
df_bo2cs.head()

,Unnamed: 0,Unnamed: 1,SOrg.,SaTy,Sales Doc.,Sold-to,Name 1,Ship-to,Name 1.1,CustLoy,...,DB,BOstatus,BO,BO status changed,GM,unc.,Description,SC,Route,Req.dlv.dt
0,NaN,NaN,8650.0,ZRO,7.210671e+09,15919708,HUELQUEN SA,15919708,HUELQUEN SA,NaN,...,NaN,Unproc,X,28.12.2017 16:01:41,A,NaN,REPAIR PARTS,0F,ZCL913,20.12.2017
1,NaN,NaN,8650.0,ZRO,7.211113e+09,15917697,EMPRESA CONSTRUCTORA BRAVO E,24583539,242 EDIFICIO CONTEMPORA,NaN,...,06,Unproc,X,06.03.2018 17:57:03,A,NaN,REPAIR PARTS,0E,ZCL915,16.02.2018
2,NaN,NaN,8650.0,ZRO,7.211178e+09,23023419,CONSORCIO VALLE HERMOSO S.A,23023498,EMBALSE VALLE HERMOSO,NaN,...,06,Unproc,X,05.03.2018 15:35:50,A,NaN,REPAIR PARTS,0E,ZCL121,28.02.2018
3,NaN,NaN,8650.0,ZRO,7.211204e+09,23023419,CONSORCIO VALLE HERMOSO S.A,23023498,EMBALSE VALLE HERMOSO,NaN,...,06,Unproc,X,05.03.2018 14:51:44,A,NaN,REPAIR PARTS,0E,ZCL121,28.02.2018
4,NaN,NaN,8650.0,ZRO,7.211195e+09,23106139,AMPUERO Y COFRE CONSTRUCCION,24958240,CONDOMINIO,NaN,...,06,Unproc,X,05.03.2018 18:38:15,A,NaN,REPAIR PARTS,0E,ZCL915,01.03.2018

In [7]:
df_bo2cs.dtypes

Unnamed: 0              float64
Unnamed: 1               object
SOrg.                   float64
SaTy                     object
Sales Doc.              float64
Sold-to                  object
Name 1                   object
Ship-to                  object
Name 1.1                 object
CustLoy                  object
Foc.Cust                 object
Territory                object
Created on               object
Typ                      object
Material                float64
Item Description         object
Order Qty                object
Corr.qty                 object
ConfirmQty               object
SU                       object
      BO value           object
Curr.                    object
InitReqDt                object
promised                 object
Mat.Av.Dt.               object
Dlv.Date                 object
DS                       object
DB                       object
BOstatus                 object
BO                       object
   BO status changed     object
GM                       object
unc.                     object
Description              object
SC                       object
Route                    object
Req.dlv.dt               object
dtype: object

In [8]:
unnamed_columns = [col for col in df_bo2cs.columns if 'Unnamed:' in col]

print("Columns with 'Unnamed:' in their title:")
for col in unnamed_columns:
    print(col)

Columns with 'Unnamed:' in their title:
Unnamed: 0
Unnamed: 1

In [9]:
df_bo2cs.drop(columns=unnamed_columns, inplace=True)

In [11]:
pd.set_option('display.max_columns', None)

In [10]:
df_bo2cs.head()

,SOrg.,SaTy,Sales Doc.,Sold-to,Name 1,Ship-to,Name 1.1,CustLoy,Foc.Cust,Territory,...,DB,BOstatus,BO,BO status changed,GM,unc.,Description,SC,Route,Req.dlv.dt
0,8650.0,ZRO,7.210671e+09,15919708,HUELQUEN SA,15919708,HUELQUEN SA,NaN,NaN,TCL5100010,...,NaN,Unproc,X,28.12.2017 16:01:41,A,NaN,REPAIR PARTS,0F,ZCL913,20.12.2017
1,8650.0,ZRO,7.211113e+09,15917697,EMPRESA CONSTRUCTORA BRAVO E,24583539,242 EDIFICIO CONTEMPORA,NaN,X,TCL3400012,...,06,Unproc,X,06.03.2018 17:57:03,A,NaN,REPAIR PARTS,0E,ZCL915,16.02.2018
2,8650.0,ZRO,7.211178e+09,23023419,CONSORCIO VALLE HERMOSO S.A,23023498,EMBALSE VALLE HERMOSO,NaN,NaN,TCL2600018,...,06,Unproc,X,05.03.2018 15:35:50,A,NaN,REPAIR PARTS,0E,ZCL121,28.02.2018
3,8650.0,ZRO,7.211204e+09,23023419,CONSORCIO VALLE HERMOSO S.A,23023498,EMBALSE VALLE HERMOSO,NaN,NaN,TCL2600018,...,06,Unproc,X,05.03.2018 14:51:44,A,NaN,REPAIR PARTS,0E,ZCL121,28.02.2018
4,8650.0,ZRO,7.211195e+09,23106139,AMPUERO Y COFRE CONSTRUCCION,24958240,CONDOMINIO,NaN,NaN,TCL3100010,...,06,Unproc,X,05.03.2018 18:38:15,A,NaN,REPAIR PARTS,0E,ZCL915,01.03.2018

In [11]:
df_bo2cs.shape

(8811, 35)

In [12]:
df_bo2cs.dtypes

SOrg.                   float64
SaTy                     object
Sales Doc.              float64
Sold-to                  object
Name 1                   object
Ship-to                  object
Name 1.1                 object
CustLoy                  object
Foc.Cust                 object
Territory                object
Created on               object
Typ                      object
Material                float64
Item Description         object
Order Qty                object
Corr.qty                 object
ConfirmQty               object
SU                       object
      BO value           object
Curr.                    object
InitReqDt                object
promised                 object
Mat.Av.Dt.               object
Dlv.Date                 object
DS                       object
DB                       object
BOstatus                 object
BO                       object
   BO status changed     object
GM                       object
unc.                     object
Description              object
SC                       object
Route                    object
Req.dlv.dt               object
dtype: object

In [13]:
column_titles = df_bo2cs.columns.tolist()
column_titles

['SOrg.',
 'SaTy',
 'Sales Doc.',
 'Sold-to',
 'Name 1',
 'Ship-to',
 'Name 1.1',
 'CustLoy',
 'Foc.Cust',
 'Territory',
 'Created on',
 'Typ',
 'Material',
 'Item Description',
 'Order Qty',
 'Corr.qty',
 'ConfirmQty',
 'SU',
 '      BO value',
 'Curr.',
 'InitReqDt',
 'promised',
 'Mat.Av.Dt.',
 'Dlv.Date',
 'DS',
 'DB',
 'BOstatus',
 'BO',
 '   BO status changed',
 'GM',
 'unc.',
 'Description',
 'SC',
 'Route',
 'Req.dlv.dt']

In [14]:
new_column_titles = {col: col.strip().replace(' ', '_').replace('-','_').replace('.','') for col in column_titles}

In [15]:
df_bo2cs.rename(columns=new_column_titles, inplace=True)

In [16]:
df_bo2cs.columns.tolist()

['SOrg',
 'SaTy',
 'Sales_Doc',
 'Sold_to',
 'Name_1',
 'Ship_to',
 'Name_11',
 'CustLoy',
 'FocCust',
 'Territory',
 'Created_on',
 'Typ',
 'Material',
 'Item_Description',
 'Order_Qty',
 'Corrqty',
 'ConfirmQty',
 'SU',
 'BO_value',
 'Curr',
 'InitReqDt',
 'promised',
 'MatAvDt',
 'DlvDate',
 'DS',
 'DB',
 'BOstatus',
 'BO',
 'BO_status_changed',
 'GM',
 'unc',
 'Description',
 'SC',
 'Route',
 'Reqdlvdt']

In [17]:
df_bo2cs.dtypes

SOrg                 float64
SaTy                  object
Sales_Doc            float64
Sold_to               object
Name_1                object
Ship_to               object
Name_11               object
CustLoy               object
FocCust               object
Territory             object
Created_on            object
Typ                   object
Material             float64
Item_Description      object
Order_Qty             object
Corrqty               object
ConfirmQty            object
SU                    object
BO_value              object
Curr                  object
InitReqDt             object
promised              object
MatAvDt               object
DlvDate               object
DS                    object
DB                    object
BOstatus              object
BO                    object
BO_status_changed     object
GM                    object
unc                   object
Description           object
SC                    object
Route                 object
Reqdlvdt              object
dtype: object

In [20]:
pd.set_option('display.max_columns', None)

In [21]:
df_bo2cs.head()

,SOrg,SaTy,Sales_Doc,Sold_to,Name_1,Ship_to,Name_11,CustLoy,FocCust,Territory,Created_on,Typ,Material,Item_Description,Order_Qty,Corrqty,ConfirmQty,SU,BO_value,Curr,InitReqDt,promised,MatAvDt,DlvDate,DS,DB,BOstatus,BO,BO_status_changed,GM,unc,Description,SC,Route,Reqdlvdt
0,8650,ZRO,7210671323,15919708,HUELQUEN SA,15919708,HUELQUEN SA,nan,nan,TCL5100010,2017-12-20,X6,301998,TapÃ³n de cierre R3/8 rojo,1.0,1,1,PC,NaN,CLP,20.12.2017,04.01.2018,06.01.2021,06.01.2021,A,NaN,Unproc,X,28.12.2017 16:01:41,A,NaN,REPAIR PARTS,0F,ZCL913,20.12.2017
1,8650,ZRO,7211112567,15917697,EMPRESA CONSTRUCTORA BRAVO E,24583539,242 EDIFICIO CONTEMPORA,nan,X,TCL3400012,2018-02-16,ND,203086,Grasa Turmogrease BIO LC 1302 (50ml),1.0,1,1,PC,NaN,CLP,16.02.2018,07.03.2018,06.03.2018,07.03.2018,A,06,Unproc,X,06.03.2018 17:57:03,A,NaN,REPAIR PARTS,0E,ZCL915,16.02.2018
2,8650,ZRO,7211177692,23023419,CONSORCIO VALLE HERMOSO S.A,23023498,EMBALSE VALLE HERMOSO,nan,nan,TCL2600018,2018-02-28,ND,203086,Grasa Turmogrease BIO LC 1302 (50ml),1.0,1,1,PC,NaN,CLP,28.02.2018,06.03.2018,05.03.2018,06.03.2018,A,06,Unproc,X,05.03.2018 15:35:50,A,NaN,REPAIR PARTS,0E,ZCL121,28.02.2018
3,8650,ZRO,7211203648,23023419,CONSORCIO VALLE HERMOSO S.A,23023498,EMBALSE VALLE HERMOSO,nan,nan,TCL2600018,2018-02-28,ND,203086,Grasa Turmogrease BIO LC 1302 (50ml),1.0,1,1,PC,NaN,CLP,28.02.2018,06.03.2018,05.03.2018,06.03.2018,A,06,Unproc,X,05.03.2018 14:51:44,A,NaN,REPAIR PARTS,0E,ZCL121,28.02.2018
4,8650,ZRO,7211194698,23106139,AMPUERO Y COFRE CONSTRUCCION,24958240,CONDOMINIO,nan,nan,TCL3100010,2018-03-01,ND,203086,Grasa Turmogrease BIO LC 1302 (50ml),1.0,1,1,PC,NaN,CLP,01.03.2018,06.03.2018,05.03.2018,06.03.2018,A,06,Unproc,X,05.03.2018 18:38:15,A,NaN,REPAIR PARTS,0E,ZCL915,01.03.2018

In [18]:
df_bo2cs['SOrg'] = df_bo2cs['SOrg'].fillna(0).astype(int).astype(str).str.strip()
df_bo2cs['SaTy'] = df_bo2cs['SaTy'].astype(str).str.strip()
df_bo2cs['Sales_Doc'] = df_bo2cs['Sales_Doc'].fillna(0).astype(int).astype(str).str.strip()
df_bo2cs['Sold_to'] = df_bo2cs['Sold_to'].astype(str).str.strip()
df_bo2cs['Name_1'] = df_bo2cs['Name_1'].astype(str).str.strip()
df_bo2cs['CustLoy'] = df_bo2cs['CustLoy'].astype(str).str.strip()
df_bo2cs['FocCust'] = df_bo2cs['FocCust'].astype(str).str.strip()
df_bo2cs['Territory'] = df_bo2cs['Territory'].astype(str).str.strip()
df_bo2cs['Created_on'] = pd.to_datetime(df_bo2cs['Created_on'], errors="coerce", format='%d.%m.%Y')
df_bo2cs['Typ'] = df_bo2cs['Typ'].astype(str).str.strip()
df_bo2cs['Material'] = df_bo2cs['Material'].fillna(0).astype(int).astype(str).str.strip()
df_bo2cs['Item_Description'] = df_bo2cs['Item_Description'].astype(str).str.strip()
df_bo2cs['Order_Qty'] = df_bo2cs['Order_Qty'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_bo2cs['Corrqty'] = df_bo2cs['Corrqty'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_bo2cs['ConfirmQty'] = df_bo2cs['ConfirmQty'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_bo2cs['SU'] = df_bo2cs['SU'].astype(str).str.strip()
df_bo2cs['BO_value'] = df_bo2cs['BO_value'].astype(str).str.strip()
df_bo2cs['Curr'] = df_bo2cs['Curr'].astype(str).str.strip()
df_bo2cs['InitReqDt'] = pd.to_datetime(df_bo2cs['InitReqDt'], errors="coerce", format='%d.%m.%Y')
df_bo2cs['promised'] = pd.to_datetime(df_bo2cs['promised'], errors="coerce", format='%d.%m.%Y')
df_bo2cs['MatAvDt'] = pd.to_datetime(df_bo2cs['MatAvDt'], errors="coerce", format='%d.%m.%Y')
df_bo2cs['DlvDate'] = pd.to_datetime(df_bo2cs['DlvDate'], errors="coerce", format='%d.%m.%Y')
df_bo2cs['DS'] = df_bo2cs['DS'].astype(str).str.strip()
df_bo2cs['DB'] = df_bo2cs['DB'].astype(str).str.strip()
df_bo2cs['BOstatus'] = df_bo2cs['BOstatus'].astype(str).str.strip()
df_bo2cs['BO'] = df_bo2cs['BO'].astype(str).str.strip()
df_bo2cs['BO_status_changed'] = pd.to_datetime(df_bo2cs['BO_status_changed'], errors="coerce", format='%d.%m.%Y')
df_bo2cs['GM'] = df_bo2cs['GM'].astype(str).str.strip()
df_bo2cs['unc'] = df_bo2cs['unc'].astype(str).str.strip()
df_bo2cs['Description'] = df_bo2cs['Description'].astype(str).str.strip()
df_bo2cs['SC'] == df_bo2cs['Item_Description'].astype(str).str.strip()
df_bo2cs['Route'] = df_bo2cs['Route'].astype(str).str.strip()
df_bo2cs['Reqdlvdt'] = pd.to_datetime(df_bo2cs['Reqdlvdt'], errors="coerce", format='%d.%m.%Y')

ValueError: could not convert string to float: 'PC'

In [24]:
df_bo2cs.dtypes

SOrg                         object
SaTy                         object
Sales_Doc                    object
Sold_to                      object
Name_1                       object
Ship_to                      object
Name_11                      object
CustLoy                      object
FocCust                      object
Territory                    object
Created_on           datetime64[ns]
Typ                          object
Material                     object
Item_Description             object
Order_Qty                   float64
Corrqty                     float64
ConfirmQty                  float64
SU                           object
BO_value                     object
Curr                         object
InitReqDt            datetime64[ns]
promised             datetime64[ns]
MatAvDt              datetime64[ns]
DlvDate              datetime64[ns]
DS                           object
DB                           object
BOstatus                     object
BO                           object
BO_status_changed    datetime64[ns]
GM                           object
unc                          object
Description                  object
SC                           object
Route                        object
Reqdlvdt             datetime64[ns]
dtype: object

In [25]:
df_bo2cs['key_material'] = df_bo2cs['SOrg'] + '/' + df_bo2cs['Material']
df_bo2cs['key_material'] = df_bo2cs['key_material'].astype(str).str.strip()

In [26]:
df_bo2cs.to_csv(bo2cs_preprocessed_path, index=False)

In [ ]:
df_bo2cs.dtypes

SOrg                        object
SaTy                        object
Sales_Doc                   object
Sold_to                     object
Name_1                      object
Ship_to                     object
Name_11                     object
CustLoy                     object
FocCust                     object
Territory                   object
On                  datetime64[ns]
Typ                         object
Material                    object
Item_Description            object
Order_Qty                  float64
Corrqty                    float64
ConfirmQty                 float64
SU                          object
BO_value                    object
Curr                        object
InitReqDt           datetime64[ns]
promised            datetime64[ns]
MatAvDt             datetime64[ns]
DlvDate             datetime64[ns]
DS                          object
DB                          object
BOstatus                    object
BO                          object
BOstat_changed      datetime64[ns]
GM                          object
unc                         object
Description                 object
SC                          object
Route                       object
Reqdlvdt            datetime64[ns]
key_material                object
dtype: object