In [1]:
import pandas as pd
import os

In [2]:
current_path = os.getcwd()
print(current_path)

c:\Users\sepujas\Dev\mat\notebooks

In [3]:
base_path = os.path.abspath(os.path.join(current_path, os.pardir))
print(base_path)

c:\Users\sepujas\Dev\mat

In [4]:
outbound_file_path = os.path.join(base_path, 'data', 'raw', 'tbl_vl06o.txt')
print(outbound_file_path)

c:\Users\sepujas\Dev\mat\data\raw\tbl_vl06o.txt

In [5]:
outbound_preprocessed_path = os.path.join(base_path, 'data', 'preprocessed', 'tbl_outbound.csv')
print(outbound_preprocessed_path)

c:\Users\sepujas\Dev\mat\data\preprocessed\tbl_outbound.csv

In [6]:
df_outbound = pd.read_csv(outbound_file_path, sep='\t', skiprows=3, encoding='latin1')
df_outbound.head()

,Unnamed: 0,SOrg.,Delivery,Item,Material,Item Description,Dlv.Qty,SU,Batch,OPS,PickingSts,WM,GM,Route,Sp.Stck No,Sold-to,Name of Sold-to Party,Pur. Doc.,TrpPlanDt
0,NaN,3000,326105590,10,412689,DX cartucho 6.8/11 M10 STD pardo,100.0,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,18469073.0,COPIISA OFFSHORE,574106548,12.06.2024
1,NaN,3000,326105591,10,412689,DX cartucho 6.8/11 M10 STD pardo,100.0,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,18469073.0,COPIISA OFFSHORE,574184151,12.06.2024
2,NaN,3000,326105607,10,416484,DX cartucho 6.8/18 M10 STD rojo,300.0,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,15413947.0,CONSTRUCTORA GARZA PONCE,574174423,12.06.2024
3,NaN,3000,326105609,10,416486,DX cartucho 6.8/18 M10 STD negro,4.8,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,15413947.0,CONSTRUCTORA GARZA PONCE,574238140,12.06.2024
4,NaN,3000,326105621,10,416484,DX cartucho 6.8/18 M10 STD rojo,11.7,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,21534127.0,GRUPO INMOBILIARIO ARRENDADOR,574221812,12.06.2024

In [7]:
unnamed_columns = [col for col in df_outbound.columns if 'Unnamed:' in col]

print("Columns with 'Unnamed:' in their title:")
for col in unnamed_columns:
    print(col)

Columns with 'Unnamed:' in their title:
Unnamed: 0

In [8]:
df_outbound.drop(columns=unnamed_columns, inplace=True)

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
df_outbound.head()

,SOrg.,Delivery,Item,Material,Item Description,Dlv.Qty,SU,Batch,OPS,PickingSts,WM,GM,Route,Sp.Stck No,Sold-to,Name of Sold-to Party,Pur. Doc.,TrpPlanDt
0,3000,326105590,10,412689,DX cartucho 6.8/11 M10 STD pardo,100.0,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,18469073.0,COPIISA OFFSHORE,574106548,12.06.2024
1,3000,326105591,10,412689,DX cartucho 6.8/11 M10 STD pardo,100.0,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,18469073.0,COPIISA OFFSHORE,574184151,12.06.2024
2,3000,326105607,10,416484,DX cartucho 6.8/18 M10 STD rojo,300.0,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,15413947.0,CONSTRUCTORA GARZA PONCE,574174423,12.06.2024
3,3000,326105609,10,416486,DX cartucho 6.8/18 M10 STD negro,4.8,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,15413947.0,CONSTRUCTORA GARZA PONCE,574238140,12.06.2024
4,3000,326105621,10,416484,DX cartucho 6.8/18 M10 STD rojo,11.7,PC,NaN,NaN,NaN,NaN,A,ZMX998,NaN,21534127.0,GRUPO INMOBILIARIO ARRENDADOR,574221812,12.06.2024

In [11]:
df_outbound.shape

(246, 18)

In [12]:
df_outbound.dtypes

SOrg.                      int64
Delivery                   int64
Item                       int64
Material                   int64
Item Description          object
Dlv.Qty                  float64
SU                        object
Batch                    float64
OPS                      float64
PickingSts               float64
WM                       float64
GM                        object
Route                     object
Sp.Stck No               float64
Sold-to                  float64
Name of Sold-to Party     object
Pur. Doc.                  int64
TrpPlanDt                 object
dtype: object

In [13]:
column_titles = df_outbound.columns.tolist()
column_titles

['SOrg.',
 'Delivery',
 'Item',
 'Material',
 'Item Description',
 'Dlv.Qty',
 'SU',
 'Batch',
 'OPS',
 'PickingSts',
 'WM',
 'GM',
 'Route',
 'Sp.Stck No',
 'Sold-to',
 'Name of Sold-to Party',
 'Pur. Doc.',
 'TrpPlanDt']

In [14]:
new_column_titles = {col: col.strip().replace(' ', '_').replace('-','_').replace('.','') for col in column_titles}

In [15]:
df_outbound.rename(columns=new_column_titles, inplace=True)

In [16]:
df_outbound.columns.tolist()

['SOrg',
 'Delivery',
 'Item',
 'Material',
 'Item_Description',
 'DlvQty',
 'SU',
 'Batch',
 'OPS',
 'PickingSts',
 'WM',
 'GM',
 'Route',
 'SpStck_No',
 'Sold_to',
 'Name_of_Sold_to_Party',
 'Pur_Doc',
 'TrpPlanDt']

In [18]:
df_outbound['SOrg'] = df_outbound['SOrg'].fillna(0).astype(int).astype(str).str.strip()
df_outbound['Delivery'] = df_outbound['Delivery'].fillna(0).astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(int)
df_outbound['Item'] = df_outbound['Item'].fillna(0).astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(int)
df_outbound['Material'] = df_outbound['Material'].fillna(0).astype(int).astype(str).str.strip()
df_outbound['Item_Description'] = df_outbound['Item_Description'].astype(str).str.strip()
df_outbound['DlvQty'] = df_outbound['DlvQty'].fillna(0).astype(str).str.strip().astype(float)
df_outbound['SU'] = df_outbound['SU'].astype(str).str.strip()
df_outbound['Batch'] = df_outbound['Batch'].fillna(0).astype(str).str.strip().astype(float)
df_outbound['OPS'] = df_outbound['OPS'].fillna(0).astype(str).str.strip().astype(float)
df_outbound['PickingSts'] = df_outbound['PickingSts'].fillna(0).astype(str).str.strip().astype(float)
df_outbound['WM'] = df_outbound['WM'].fillna(0).astype(str).str.strip().astype(float)
df_outbound['GM'] = df_outbound['GM'].astype(str).str.strip()
df_outbound['Route'] = df_outbound['Route'].astype(str).str.strip()
df_outbound['SpStck_No'] = df_outbound['SpStck_No'].fillna(0).astype(str).str.strip().astype(float)
df_outbound['Sold_to'] = df_outbound['Sold_to'].fillna(0).astype(int).astype(str).str.strip()
df_outbound['Name_of_Sold_to_Party'] = df_outbound['Name_of_Sold_to_Party'].astype(str).str.strip()
df_outbound['Pur_Doc'] = df_outbound['Pur_Doc'].fillna(0).astype(int).astype(str)
df_outbound['TrpPlanDt'] = pd.to_datetime(df_outbound['TrpPlanDt'], errors="coerce", format='%d.%m.%Y')

In [ ]:
df_outbound['key_material'] = df_outbound['SOrg'] + '/' + df_outbound['Material']
df_outbound['key_material'] = df_outbound['key_material'].astype(str).str.strip()

In [ ]:
df_outbound.head()

,SOrg,Delivery,Item,Material,Item_Description,DlvQty,SU,Batch,OPS,PickingSts,WM,GM,Route,SpecStock_No,Sold_to,Name_of_Sold_to_Party,Pur_Doc,TrpPlanDt,key_material
0,3000,326105590,10,412689,DX cartucho 6.8/11 M10 STD pardo,100.0,PC,0.0,0.0,0.0,0.0,A,ZMX998,0.0,18469073,COPIISA OFFSHORE,574106548,2024-06-12,3000/412689
1,3000,326105591,10,412689,DX cartucho 6.8/11 M10 STD pardo,100.0,PC,0.0,0.0,0.0,0.0,A,ZMX998,0.0,18469073,COPIISA OFFSHORE,574184151,2024-06-12,3000/412689
2,3000,326105607,10,416484,DX cartucho 6.8/18 M10 STD rojo,300.0,PC,0.0,0.0,0.0,0.0,A,ZMX998,0.0,15413947,CONSTRUCTORA GARZA PONCE,574174423,2024-06-12,3000/416484
3,3000,326105609,10,416486,DX cartucho 6.8/18 M10 STD negro,4.8,PC,0.0,0.0,0.0,0.0,A,ZMX998,0.0,15413947,CONSTRUCTORA GARZA PONCE,574238140,2024-06-12,3000/416486
4,3000,326105621,10,416484,DX cartucho 6.8/18 M10 STD rojo,11.7,PC,0.0,0.0,0.0,0.0,A,ZMX998,0.0,21534127,GRUPO INMOBILIARIO ARRENDADOR,574221812,2024-06-12,3000/416484

In [ ]:
df_outbound.to_csv(outbound_preprocessed_path, index=False)

In [ ]:
df_outbound.dtypes

SOrg                             object
Delivery                          int64
Item                              int64
Material                         object
Item_Description                 object
DlvQty                          float64
SU                               object
Batch                           float64
OPS                             float64
PickingSts                      float64
WM                              float64
GM                               object
Route                            object
SpecStock_No                    float64
Sold_to                          object
Name_of_Sold_to_Party            object
Pur_Doc                          object
TrpPlanDt                datetime64[ns]
key_material                     object
dtype: object