In [2]:
import pandas as pd
import os

In [3]:
current_path = os.getcwd()
print(current_path)

c:\Users\sepujas\Dev\mat\notebooks

In [4]:
base_path = os.path.abspath(os.path.join(current_path, os.pardir))
print(base_path)

c:\Users\sepujas\Dev\mat

In [5]:
inbound_file_path = os.path.join(base_path, 'data', 'raw', 'tbl_inbound.txt')
print(inbound_file_path)

c:\Users\sepujas\Dev\mat\data\raw\tbl_inbound.txt

In [6]:
inbound_preprocessed_path = os.path.join(base_path, 'data', 'preprocessed', 'tbl_inbound.csv')
print(inbound_preprocessed_path)

c:\Users\sepujas\Dev\mat\data\preprocessed\tbl_inbound.csv

In [7]:
df_inbound = pd.read_csv(inbound_file_path, sep='\t', skiprows=3, encoding='latin1')

In [8]:
df_inbound.head()

,Unnamed: 0,Unnamed: 1,Doc. No.,Unnamed: 3,Shipment,Purch.Doc.,Item,Material,Material Description,Plnt,...,Deliv.Date,Doc. Date,Ext. Order Pos,Ext. Order Number,Suppl.Vndr,TrackingNo,Reservation,Reservation item,Reservation order date,Diff.days
0,NaN,NaN,4.051475e+09,NaN,10321076.0,4.536940e+09,1.0,2105698.0,Gas can GC 42,8650.0,...,03.07.2024,25.06.2024,10.0,56295227.0,HLI0550,D348768001,13348768.0,1.0,20.06.2024,0.0
1,NaN,NaN,4.051475e+09,NaN,10321076.0,4.536940e+09,1.0,2105698.0,Gas can GC 42,8650.0,...,03.07.2024,25.06.2024,10.0,56295227.0,HLI0550,D348768001,13348768.0,1.0,20.06.2024,0.0
2,NaN,NaN,4.051475e+09,NaN,10321076.0,4.536940e+09,1.0,2105698.0,Gas can GC 42,8650.0,...,03.07.2024,25.06.2024,10.0,56295227.0,HLI0550,D348768001,13348768.0,1.0,20.06.2024,0.0
3,NaN,NaN,4.051475e+09,NaN,10321076.0,4.536940e+09,1.0,2105698.0,Gas can GC 42,8650.0,...,03.07.2024,25.06.2024,10.0,56295227.0,HLI0550,D348768001,13348768.0,1.0,20.06.2024,0.0
4,NaN,NaN,4.051475e+09,NaN,10321076.0,4.536940e+09,1.0,2105698.0,Gas can GC 42,8650.0,...,03.07.2024,25.06.2024,10.0,56295227.0,HLI0550,D348768001,13348768.0,1.0,20.06.2024,0.0

In [9]:
unnamed_columns = [col for col in df_inbound.columns if 'Unnamed:' in col]

In [10]:
df_inbound.drop(columns=unnamed_columns, inplace=True)

In [11]:
column_titles = df_inbound.columns.tolist()

In [12]:
new_column_titles = {col: col.strip().replace(' ', '_').replace('-','_').replace('.','') for col in column_titles}

In [13]:
df_inbound.rename(columns=new_column_titles, inplace=True)

In [14]:
column_counts = df_inbound.columns.value_counts()
duplicate_columns = column_counts[column_counts > 1].index

for col in duplicate_columns:
    col_indices = [i for i, x in enumerate(df_inbound.columns) if x == col]
    for j, index in enumerate(col_indices):
        df_inbound.columns.values[index] = f"{col}_{j+1}"

In [15]:
df_inbound.columns.tolist()

['Doc_No',
 'Shipment',
 'PurchDoc',
 'Item_1',
 'Material',
 'Material_Description',
 'Plnt',
 'SLoc',
 'PO_Quantity',
 'OUn',
 'OUn1',
 'Item_2',
 'Delivery',
 'Reference',
 'Supplier',
 'POrg',
 'PGr',
 'Vendor',
 'ShPt',
 'DelivDate',
 'Doc_Date',
 'Ext_Order_Pos',
 'Ext_Order_Number',
 'SupplVndr',
 'TrackingNo',
 'Reservation',
 'Reservation_item',
 'Reservation_order_date',
 'Diffdays']

In [16]:
df_inbound.dtypes

Doc_No                    float64
Shipment                  float64
PurchDoc                  float64
Item_1                    float64
Material                  float64
Material_Description       object
Plnt                      float64
SLoc                      float64
PO_Quantity                object
OUn                        object
OUn1                       object
Item_2                    float64
Delivery                  float64
Reference                 float64
Supplier                   object
POrg                      float64
PGr                        object
Vendor                    float64
ShPt                      float64
DelivDate                  object
Doc_Date                   object
Ext_Order_Pos             float64
Ext_Order_Number          float64
SupplVndr                  object
TrackingNo                 object
Reservation               float64
Reservation_item          float64
Reservation_order_date     object
Diffdays                  float64
dtype: object

In [17]:
df_inbound['POrg'].head()

0    8650.0
1    8650.0
2    8650.0
3    8650.0
4    8650.0
Name: POrg, dtype: float64

In [18]:
df_inbound['Doc_No'] = df_inbound['Doc_No'].fillna(0).astype(int).astype(str)
df_inbound['Shipment'] = df_inbound['Shipment'].fillna(0).astype(int).astype(str).str.strip()
df_inbound['PurchDoc'] = df_inbound['PurchDoc'].fillna(0).astype(int).astype(str).str.strip()
df_inbound['Item_1'] = df_inbound['Item_1'].fillna(0).astype(int).astype(str).str.strip()
df_inbound['Material'] = df_inbound['Material'].fillna(0).astype(int).astype(str).str.strip()
df_inbound['Material_Description'] = df_inbound['Material_Description'].astype(str).str.strip()
df_inbound['Plnt'] = df_inbound['Plnt'].fillna(0).astype(int).astype(str)
df_inbound['SLoc'] = df_inbound['SLoc'].fillna(0).astype(int).astype(str)
df_inbound['PO_Quantity'] = df_inbound['PO_Quantity'].astype(str).str.strip().str.replace('.', '').str.replace(',', '.').astype(float)
df_inbound['OUn'] = df_inbound['OUn'].astype(str).str.strip()
df_inbound['OUn1'] = df_inbound['OUn1'].astype(str).str.strip()
df_inbound['Item_2'] = df_inbound['Item_2'].fillna(0).astype(int).astype(str)
df_inbound['Delivery'] = df_inbound['Delivery'].fillna(0).astype(int).astype(str)
df_inbound['Reference'] = df_inbound['Reference'].astype(str).str.strip()
df_inbound['Plnt'] = df_inbound['Plnt'].fillna(0).astype(int).astype(str)
df_inbound['Supplier'] = df_inbound['Supplier'].astype(str).str.strip()
df_inbound['POrg'] = df_inbound['POrg'].fillna(0).astype(int).astype(str)
df_inbound['PGr'] = df_inbound['PGr'].astype(str).str.strip()
df_inbound['Vendor'] = df_inbound['Vendor'].astype(str).str.strip()
df_inbound['ShPt'] = df_inbound['ShPt'].fillna(0).astype(int).astype(str)
df_inbound['DelivDate'] = pd.to_datetime(df_inbound['DelivDate'], errors="coerce", format='%d.%m.%Y')
df_inbound['Doc_Date'] = pd.to_datetime(df_inbound['Doc_Date'], errors="coerce", format='%d.%m.%Y')
df_inbound['Ext_Order_Pos'] = df_inbound['Ext_Order_Pos'].fillna(0).astype(int).astype(str)
df_inbound['Ext_Order_Number'] = df_inbound['Ext_Order_Number'].fillna(0).astype(int).astype(str)
df_inbound['SupplVndr'] = df_inbound['SupplVndr'].astype(str).str.strip()
df_inbound['TrackingNo'] = df_inbound['TrackingNo'].astype(str).str.strip()
df_inbound['Reservation'] = df_inbound['Reservation'].fillna(0).astype(int).astype(str).str.strip()
df_inbound['Reservation_item'] = df_inbound['Reservation_item'].fillna(0).astype(int).astype(str)
df_inbound['Reservation_order_date'] = pd.to_datetime(df_inbound['Reservation_order_date'], errors="coerce", format='%d.%m.%Y')
df_inbound['Diffdays'] = df_inbound['Diffdays'].astype(str).str.strip().astype(float)

In [19]:
df_inbound['key_material'] = df_inbound['POrg'] + '/' + df_inbound['Material']
df_inbound['key_material'] = df_inbound['key_material'].astype(str).str.strip()

In [20]:
df_inbound.to_csv(inbound_preprocessed_path, index=False)

In [21]:
df_inbound.dtypes

Doc_No                            object
Shipment                          object
PurchDoc                          object
Item_1                            object
Material                          object
Material_Description              object
Plnt                              object
SLoc                              object
PO_Quantity                      float64
OUn                               object
OUn1                              object
Item_2                            object
Delivery                          object
Reference                         object
Supplier                          object
POrg                              object
PGr                               object
Vendor                            object
ShPt                              object
DelivDate                 datetime64[ns]
Doc_Date                  datetime64[ns]
Ext_Order_Pos                     object
Ext_Order_Number                  object
SupplVndr                         object
TrackingNo                        object
Reservation                       object
Reservation_item                  object
Reservation_order_date    datetime64[ns]
Diffdays                         float64
key_material                      object
dtype: object