In [5]:
import pandas as pd
import os

In [6]:
current_path = os.getcwd()
print(current_path)

c:\Users\sepujas\Dev\mat\notebooks

In [7]:
base_path = os.path.abspath(os.path.join(current_path, os.pardir))
print(base_path)

c:\Users\sepujas\Dev\mat

In [8]:
sorg_plant_file_path = os.path.join(base_path, 'data', 'raw', 'tbl_sorg_plant.csv')
print(sorg_plant_file_path)

c:\Users\sepujas\Dev\mat\data\raw\tbl_sorg_plant.csv

In [9]:
sorg_plant_preprocessed_path = os.path.join(base_path, 'data', 'preprocessed', 'tbl_sorg_plant.csv')
print(sorg_plant_preprocessed_path)

c:\Users\sepujas\Dev\mat\data\preprocessed\tbl_sorg_plant.csv

In [10]:
df_sorg_plant = pd.read_csv(sorg_plant_file_path, sep=',', encoding='utf-8-sig')

In [11]:
df_sorg_plant.head()

   sorg  plant
0  8750   8750
1  8750   8760
2  8300   8330
3  8300   8302
4  8650   8650

In [12]:
column_titles = df_sorg_plant.columns.tolist()
column_titles

['sorg', 'plant']

In [13]:
df_sorg_plant['sorg'] = df_sorg_plant['sorg'].astype(str).str.strip()
df_sorg_plant['plant'] = df_sorg_plant['plant'].astype(str).str.strip()

In [14]:
df_sorg_plant.dtypes

sorg     object
plant    object
dtype: object

In [15]:
df_sorg_plant.to_csv(sorg_plant_preprocessed_path, index=False)

In [16]:
df_sorg_plant

    sorg plant
0   8750  8750
1   8750  8760
2   8300  8330
3   8300  8302
4   8650  8650
5   8650  8663
6   8650  8655
7   8650  8658
8   8650  8662
9   8650  8651
10  3000  3000
11  3000  3002
12  3000  3010
13  3000  3014
14  3000  3016
15  3000  3018
16  3000  3022